* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
nav {
  background: rgb(142, 90, 253);
  background: linear-gradient(
    328deg,
    rgba(142, 90, 253, 1) 30%,
    rgba(221, 137, 45, 1) 100%
  );
}

.place-right {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 2rem;
}

.active {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Bannière */

#img-banniere {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.texte-banniere {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgb(142, 90, 253);
  background: linear-gradient(
    328deg,
    rgba(142, 90, 253, 1) 30%,
    rgba(221, 137, 45, 1) 100%
  );
}

/* Nos produits */
h1 {
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 20px;
}
.nos-produits {
  background: rgb(236, 236, 236);
}

.produits {
  margin-top: 50px;
}

#results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  #results {
    grid-template-columns: 1fr;
  }
}

.photo_produits {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

li {
  list-style: none;
}

.selection_produits {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 5px;
  box-shadow: 2px 7px 8px grey;
  border-radius: 15px;
  margin: 10px 40px 10px 20px;
  transition: 0.5s;
}

.selection_produits:hover {
  transform: scale(1.02);
  color: black;
}

/* Page Produit */

.product {
  border: 2px solid black;
  border-radius: 15px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.name-product {
  text-align: center;
}

.product-photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.description-product {
  margin-top: 10px;
}

.price-product {
  margin-top: 10px;
}

.price_produits {
  font-size: 1.2rem;
}

.button-cart {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffa42c;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #bd59ff;
  text-align: center;
  transition: all 0.15s;
  border-radius: 15px;
  background: white;
}

.button-cart:hover {
  color: #ffa42c;
  border-color: #bd59ff;
}

.button-cart:active {
  color: #ff3737;
}

.select-box {
  position: relative;
  display: block;
  width: 20%;
  margin: 2px 0 20px 0;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
  font-size: 18px;
  color: #60666d;

  @media (min-width: 768px) {
    width: 70%;
  }

  @media (min-width: 992px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 30%;
  }
}

/* Page panier */

#table-cart {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.th-produit {
  font-weight: 300;
}

.th-produit img {
  width: 180px;
  height: 80px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .th-produit img {
    width: 50px;
    height: 50px;
  }
}

button {
  padding: 5px;
  border-radius: 15px;
  background: linear-gradient(
    328deg,
    rgb(142, 90, 253) 30%,
    rgb(221, 136, 45) 100%
  );
  font-weight: lighter;
  transition: 0.2s;
  border-color: rgb(142, 90, 253);
  color: white;
}

@media (max-width: 768px) {
  .btnAjouterQt,
  .btnRetirerQt {
    width: 20px;
    padding: 2px;
  }
}

button:hover {
  transform: scale(1.05);
}

#total {
  margin-left: 15px;
  margin-right: 20px;
  text-align: right;
  font-weight: bolder;
}

.flex-button {
  display: flex;
  flex-direction: column;
}

#table-cart i {
  cursor: pointer;
}

#reset-cart,
#confirm-command {
  margin: auto;
}

#reset-cart {
  margin-bottom: 20px;
  text-align: right;
}

#confirm-command {
  margin-top: 15px;
  width: 20%;
}

/* Formulaire */

#formulaire-commande {
  max-width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
